{
    "openapi": "3.1.0",
    "info": {
        "title": "ColaBike API",
        "version": "1.0.0",
        "description": "API ColaBike: вход устройств, текущий пользователь, чтение велосипедов, людей, журнала, покатушек и комментариев, настройки приложения.\n\n**Вход.** Два способа. Браузер — HttpOnly cookie `cola_session`, которую выдаёт вход на сайте. Нативный клиент — сессия устройства: `POST /auth/sessions` возвращает пару непрозрачных токенов, токен доступа (`cola_at_…`, 15 минут) передаётся как `Authorization: Bearer`, одноразовый refresh-токен (`cola_rt_…`) обновляется через `POST /auth/sessions/refresh`. Cookie и Bearer в одном запросе — 400 `ambiguous_authentication`; другие схемы Authorization — 401 `unsupported_authentication`. Просроченный токен доступа — 401 `token_expired`, любой другой негодный — 401 `invalid_token`. CORS не включён.\n\n**Ошибки.** Тело ошибки — `{ \"error\": { \"code\", \"message\", \"details?\" } }`; клиент ветвится по `code`. Неизвестный адрес под `/api/v1` отвечает 404, неподдерживаемый метод — 405 с заголовком `Allow`. Каждый ответ несёт `X-Request-ID` для обращения в поддержку.\n\n**Кэш.** Ответы зависят от того, кто спрашивает, и не кэшируются (`Cache-Control: no-store`). Исключения — сам документ и настройки приложения `/app-config`: они одинаковы для всех; настройки свежи минуту, затем проверяются по `ETag` (304 без тела).\n\n**Изображения.** Адреса фото (`url`, `avatarUrl`, `coverUrl`) — пути сайта относительно его адреса. Публичные открываются без входа; приватные (фото закрытого велосипеда, картинки черновика журнала) — владельцу, с тем же `Authorization: Bearer` (или cookie), что и API; чужому и гостю — 404, недействительному токену — 401. Ответы зависят от зрителя (`Vary: Cookie, Authorization`), поддерживают `ETag`/304 и `?width=`.\n\n**Видимость.** Публичный велосипед видят все, приватный — только владелец. Чужой приватный и несуществующий велосипед неотличимы: оба дают 404. Велосипеды заблокированных владельцев никому не видны.\n\n**Что не входит.** Личные ответы владельца о покатушках, участие в них, поиск, рынок и операции записи, а также нативный вход через внешних провайдеров — отдельные срезы.",
        "license": {
            "name": "Пользовательское соглашение ColaBike",
            "url": "https://colabike.ru/legal/terms"
        }
    },
    "servers": [
        {
            "url": "https://colabike.ru/api/v1"
        }
    ],
    "tags": [
        {
            "name": "Account",
            "description": "Текущий пользователь."
        },
        {
            "name": "Sessions",
            "description": "Вход устройства, обновление токенов и список сессий."
        },
        {
            "name": "Personal",
            "description": "Личные ответы вошедшему: уведомления, сохранённое. Никому, кроме самого человека."
        },
        {
            "name": "Bikes",
            "description": "Чтение велосипедов."
        },
        {
            "name": "Journal",
            "description": "Записи журнала велосипеда."
        },
        {
            "name": "Rides",
            "description": "Публичные покатушки: состоявшиеся, ближайшие планы, публичная геометрия и разбор трека."
        },
        {
            "name": "Comments",
            "description": "Комментарии к велосипедам, записям и покатушкам: один вид на всё."
        },
        {
            "name": "Chat",
            "description": "Мост к Stream Chat для нативного клиента: токен, каналы, кому написать, непрочитанные. Сообщения идут напрямую между клиентом и провайдером."
        },
        {
            "name": "Components",
            "description": "Публичный каталог моделей компонентов: карточки, фото."
        },
        {
            "name": "Market",
            "description": "Барахолка: действующие объявления, карточка, контакт по запросу, избранное."
        },
        {
            "name": "Search",
            "description": "Поиск велосипедов, записей журнала и людей по опыту сборок и подсказки по компонентам."
        },
        {
            "name": "Users",
            "description": "Публичные профили, их велосипеды и подписки."
        },
        {
            "name": "App",
            "description": "Настройки нативного приложения из админки: экран запуска, знакомство, сообщение, ссылки, доступность функций и политика версий. Без входа."
        },
        {
            "name": "Contract",
            "description": "Описание самого API."
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "operationId": "getMe",
                "tags": [
                    "Account"
                ],
                "summary": "Текущий пользователь",
                "description": "Только явно перечисленные поля. Без входа, с заблокированным аккаунтом и с истёкшей сессией — 401.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Текущий пользователь.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Me"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/feed": {
            "get": {
                "operationId": "getFeed",
                "tags": [
                    "Personal"
                ],
                "summary": "Моя лента",
                "description": "Публикации тех, на кого подписан человек, и велосипедов, за которыми он следит: велосипеды, покатушки, записи журнала и объявления, новые сверху, курсор по `(время публикации, id)`. `type`: `all` (по умолчанию), `rides` или `journal`. Покатушка, к которой есть публичная запись журнала, в `all` не повторяется отдельной карточкой (есть запись). Отменённых покатушек нет. Каждая страница читается заново по видимости зрителя: скрытое между страницами не показывается. В каждом элементе заполнено одно поле из `bike`, `ride`, `journal`, `listing`.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "`all` — всё; `rides` — только покатушки; `journal` — только записи журнала.",
                        "schema": {
                            "type": "string",
                            "default": "all",
                            "enum": [
                                "all",
                                "rides",
                                "journal"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница ленты.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notifications": {
            "get": {
                "operationId": "listNotifications",
                "tags": [
                    "Personal"
                ],
                "summary": "Мои уведомления",
                "description": "Новые сверху, курсор по `(время, id)`; `unread=1` и `category` сужают список, курсор работает и с ними. Видимость вычисляется при чтении, как на сайте: уведомление о том, что получатель уже не вправе видеть (приватное, скрытое, заблокированное, отменённый лайк, удалённый комментарий), не показывается. Чтение уведомлений, как и на сайте, создаёт напоминание о конце срока объявления (раз за срок). Сам список ничего не помечает прочитанным: это отдельные операции, а `watermark` ответа нужен для «Прочитать все».",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "unread",
                        "in": "query",
                        "required": false,
                        "description": "`1` — только непрочитанные.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1"
                            ]
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "description": "Одна категория: rides — покатушки и приглашения, discussions — комментарии и ответы, market — объявления, reactions — подписки и лайки, site — от ColaBike.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rides",
                                "discussions",
                                "market",
                                "reactions",
                                "site"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница уведомлений.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notifications/count": {
            "get": {
                "operationId": "getNotificationCount",
                "tags": [
                    "Personal"
                ],
                "summary": "Число непрочитанных",
                "description": "Считается до 100: при `capped` непрочитанных не меньше 100. `watermark` — отметка для «Прочитать все», если список не загружался.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    
                ],
                "responses": {
                    "200": {
                        "description": "Число непрочитанных.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationCount"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notifications/{id}/read": {
            "put": {
                "operationId": "markNotificationRead",
                "tags": [
                    "Personal"
                ],
                "summary": "Пометить уведомление прочитанным",
                "description": "Идемпотентно: повтор тоже 200, `marked` в нём 0. Прочитанным делает только само приложение, когда человек открыл уведомление или нажал «прочитано»: показ в шторке, смахивание и загрузка списка ничего не помечают. Чужое, ещё не доставленное (напоминание, срок которого не пришёл) и несуществующее уведомление неотличимы: 404. Бюджет тот же, что у кнопок сайта.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/NotificationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Итог пометки.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationReadResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie-запрос не с адреса сайта (нужен заголовок `Origin`).",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Уведомление не найдено.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много действий; секунды до конца окна — в `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notifications/read": {
            "post": {
                "operationId": "markNotificationsRead",
                "tags": [
                    "Personal"
                ],
                "summary": "Пометить несколько уведомлений прочитанными",
                "description": "До 100 идентификаторов, как на экране. Идемпотентно. Чужие и ещё не доставленные не считаются и не вызывают ошибки: `marked` — сколько помечено сейчас.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotificationReadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Итог пометки.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationReadResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Тело не разобрано или не подходит, неверный `Idempotency-Key` либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie-запрос не с адреса сайта (нужен заголовок `Origin`), почта не подтверждена (`email_verification_required`) или чужой комментарий (`forbidden`).",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "413": {
                        "description": "Тело больше 8192 байт.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Тело не `application/json`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много действий; секунды до конца окна — в `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notifications/read-all": {
            "post": {
                "operationId": "markAllNotificationsRead",
                "tags": [
                    "Personal"
                ],
                "summary": "Прочитать все до отметки",
                "description": "Помечает прочитанными всё видимое сейчас до `watermark` из списка или счётчика (с `category` — только эту категорию). Уведомление, пришедшее после того, как список был показан, лежит выше отметки и остаётся непрочитанным. Скрытое сейчас (например, о приватном объекте) не помечается: оно не было показано. За один запрос — до 10 000; если `unread` в ответе не нулевой, запрос повторяют. Идемпотентно. `watermark`, которого сервер не выдавал, — 400.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotificationReadAllRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Итог пометки.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationReadResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Тело не разобрано или не подходит, неверный `Idempotency-Key` либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie-запрос не с адреса сайта (нужен заголовок `Origin`), почта не подтверждена (`email_verification_required`) или чужой комментарий (`forbidden`).",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "413": {
                        "description": "Тело больше 8192 байт.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Тело не `application/json`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много действий; секунды до конца окна — в `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/notification-settings": {
            "get": {
                "operationId": "getNotificationSettings",
                "tags": [
                    "Personal"
                ],
                "summary": "Настройки уведомлений",
                "description": "Что человек хочет получать: каналы (почта, push), категории по каналам, напоминание о покатушке. Те же настройки видит и меняет сайт. В списке категорий только те, которые сервер производит и которые канал может передать; `channels.*.available` говорит, работает ли канал на сервере (почта — настроена ли отправка, push — подключена ли доставка), и приложение не показывает переключатель недоступного канала. Версия объекта — заголовок `ETag`. Разрешение системы и регистрация телефона — не здесь.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    
                ],
                "responses": {
                    "200": {
                        "description": "Настройки уведомлений.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            },
                            "ETag": {
                                "description": "Версия настроек: для `If-Match` следующего изменения.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationSettings"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный параметр либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            },
            "patch": {
                "operationId": "updateNotificationSettings",
                "tags": [
                    "Personal"
                ],
                "summary": "Изменить настройки уведомлений",
                "description": "Меняется только указанное, поэтому два устройства, меняющие разные переключатели, не затирают друг друга; повтор того же изменения ничего не меняет. `If-Match` необязателен: с ним изменение применяется только к версии, которую клиент видел (412, если версия уже другая). Включить канал можно, когда он работает: почту — с подтверждённым адресом (403 `email_verification_required`) и настроенной отправкой (503 `service_unavailable`), push — когда доставка подключена (503). Выключить можно всегда; повтор того, что уже есть, и `reminders` (общее для всех каналов) не требуют работающей почты. Категория называет только каналы, которые могут её передавать. Согласие на push здесь не включает разрешение системы на конкретном телефоне. Бюджет тот же, что у формы на сайте.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "description": "`ETag` настроек, которые клиент видел: при другой версии — 412.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotificationSettingsPatch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Настройки после изменения.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            },
                            "ETag": {
                                "description": "Новая версия настроек.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationSettings"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Тело не разобрано или не подходит, неверный `Idempotency-Key` либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie-запрос не с адреса сайта (нужен заголовок `Origin`), почта не подтверждена (`email_verification_required`) или чужой комментарий (`forbidden`).",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "412": {
                        "description": "`If-Match` не совпал с текущей версией: прочитайте настройки снова.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Тело больше 8192 байт.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Тело не `application/json`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много действий; секунды до конца окна — в `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    },
                    "503": {
                        "description": "Канал не работает на сервере (отправка почты не настроена, push не подключён).",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me/saved/journal": {
            "get": {
                "operationId": "listSavedJournal",
                "tags": [
                    "Personal"
                ],
                "summary": "Сохранённые записи журнала",
                "description": "Новые сохранения сверху, курсор по `(время сохранения, id)`. Запись, которую скрыли или сняли с публикации, остаётся сохранённой, но не показывается.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница сохранённых записей.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JournalPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/saved/market": {
            "get": {
                "operationId": "listSavedMarket",
                "tags": [
                    "Personal"
                ],
                "summary": "Сохранённые объявления",
                "description": "Новые сохранения сверху, курсор по `(время сохранения, id)`. Проданное, истёкшее и скрытое объявление остаётся сохранённым, но не показывается; добавить и убрать — `PUT/DELETE /market/{id}/save`.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница сохранённых объявлений.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/rides": {
            "get": {
                "operationId": "listMyRides",
                "tags": [
                    "Personal"
                ],
                "summary": "Мои покатушки",
                "description": "Все свои покатушки в любом состоянии (состоявшиеся, запланированные, отменённые; публичные и нет), новые сверху, курсор по `(начало или дата добавления, id)`. Владельческие поля — `isPublic`, зона приватности, число точек. Геометрия и серии трека в списки не входят: карточка `/rides/{id}` отдаёт публичную геометрию.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница своих покатушек.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OwnRidePage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/me/rides/upcoming": {
            "get": {
                "operationId": "listMyUpcomingRides",
                "tags": [
                    "Personal"
                ],
                "summary": "Мои ближайшие планы",
                "description": "Свои планы, планы с ответами «еду» и «возможно», приглашения без ответа и недавние отмены дат, на которые человек отвечал: до 20 штук на 60 дней вперёд, ближайшие первыми, без курсора и без параметров. `role` говорит, кем человек в плане выступает. Точка встречи — по правилам участников. Имена ответивших не передаются.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    
                ],
                "responses": {
                    "200": {
                        "description": "Ближайшие планы человека.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MyUpcomingRides"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный или повторённый параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа, сессия или токен недействительны, токен доступа истёк (`token_expired`) либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/bikes": {
            "get": {
                "operationId": "listBikes",
                "tags": [
                    "Bikes"
                ],
                "summary": "Список велосипедов",
                "description": "Новые сверху. Страницы идут по курсору, а не по номеру: велосипед, опубликованный во время просмотра, не сдвигает следующую страницу, ничто не повторяется и не пропускается. Общего количества нет. Чужие приватные велосипеды и велосипеды заблокированных владельцев не попадают в список никогда.",
                "security": [
                    {
                        
                    },
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Scope"
                    },
                    {
                        "$ref": "#/components/parameters/Category"
                    },
                    {
                        "$ref": "#/components/parameters/Query"
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница велосипедов.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BikePage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный параметр: неизвестный, повторённый, вне диапазона или неверный курсор.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`scope=mine` без входа, недействительный или истёкший токен, либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/bikes/{id}": {
            "get": {
                "operationId": "getBike",
                "tags": [
                    "Bikes"
                ],
                "summary": "Карточка велосипеда",
                "description": "Публичный велосипед виден всем. Приватный — только владельцу, остальные получают 404. Владелец видит свои цены и настройки их показа; остальные — только цены, которые владелец разрешил показывать.",
                "security": [
                    {
                        
                    },
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BikeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Велосипед.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bike"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Недействительный или истёкший токен, либо схема Authorization не поддерживается.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Велосипеда нет, он приватный и чужой, или его владелец заблокирован.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/auth/sessions": {
            "post": {
                "operationId": "createSession",
                "tags": [
                    "Sessions"
                ],
                "summary": "Вход с устройства",
                "description": "Почта и пароль, как на сайте (те же ограничения частоты и блокировки), либо одноразовый код приложения и `codeVerifier` после нативного входа через внешнего провайдера (код тратится любой попыткой; все отказы одинаковы), плюс описание устройства. Возвращает сессию устройства и пару токенов. Токены показываются только в этом ответе. Подтверждённая почта для входа не нужна, как и в вебе. Одновременно у человека не больше 20 сессий устройств: самая давно не использованная завершается.",
                "security": [
                    
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSessionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Сессия устройства и токены.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionGrant"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверное тело запроса.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`invalid_credentials`: неверная почта или пароль, недействительный, просроченный или потраченный код либо аккаунт заблокирован; ответ одинаков во всех этих случаях.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "`payload_too_large`: тело больше лимита.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "`unsupported_media_type`: тело не `application/json`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много попыток; заголовок `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            },
            "get": {
                "operationId": "listSessions",
                "tags": [
                    "Sessions"
                ],
                "summary": "Сессии аккаунта",
                "description": "Браузеры и устройства со входом: сначала текущая сессия, затем по последней активности. Хешей и токенов в ответе нет.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Активные сессии.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа или токен недействителен либо истёк.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/auth/sessions/refresh": {
            "post": {
                "operationId": "refreshSession",
                "tags": [
                    "Sessions"
                ],
                "summary": "Обновление токенов",
                "description": "Refresh-токен одноразовый: ответ содержит новую пару, а старый refresh-токен больше не работает. Предъявление уже заменённого токена вне короткого допуска на потерянный ответ считается кражей и завершает сессию. Обновляйте токены в один поток: два параллельных запроса одним токеном оставят в силе только последнюю выданную пару. Любая ошибка отвечает `invalid_token`: клиент возвращается ко входу.",
                "security": [
                    
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Новая пара токенов.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionGrant"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверное тело запроса.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "`invalid_token`: токен неизвестен, просрочен, использован повторно, или аккаунт заблокирован.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "`payload_too_large`: тело больше лимита.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "`unsupported_media_type`: тело не `application/json`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Слишком много обновлений; заголовок `Retry-After`.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/auth/sessions/current": {
            "delete": {
                "operationId": "revokeCurrentSession",
                "tags": [
                    "Sessions"
                ],
                "summary": "Выход на этом устройстве",
                "description": "Завершает сессию, которой сделан запрос. С cookie требует заголовок Origin сайта (защита от CSRF); с Bearer-токеном он не нужен.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Сессия завершена.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа или токен недействителен либо истёк.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie без допустимого заголовка Origin.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/auth/sessions/{id}": {
            "delete": {
                "operationId": "revokeSession",
                "tags": [
                    "Sessions"
                ],
                "summary": "Завершить сессию",
                "description": "Завершает любую сессию своего аккаунта по её публичному идентификатору (из списка сессий). Чужая и несуществующая сессия неотличимы: 404.",
                "security": [
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Сессия завершена.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Нет входа или токен недействителен либо истёк.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Cookie без допустимого заголовка Origin.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Такой сессии у аккаунта нет.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/bikes/{id}/journal": {
            "get": {
                "operationId": "listBikeJournal",
                "tags": [
                    "Journal"
                ],
                "summary": "Записи журнала велосипеда",
                "description": "Новые сверху, курсор. Владелец видит и черновики, остальные — только опубликованные публичные записи публичного велосипеда. Записи заблокированных авторов не показываются. Приватный, чужой и несуществующий велосипед неотличимы: 404.",
                "security": [
                    {
                        
                    },
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BikeId"
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница записей.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JournalPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Неверный параметр, неверный курсор либо cookie вместе с Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Недействительный или истёкший токен либо неподдерживаемая схема Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/journal/{id}": {
            "get": {
                "operationId": "getJournalEntry",
                "tags": [
                    "Journal"
                ],
                "summary": "Запись журнала",
                "description": "Запись целиком: текст в Markdown, снимок компонентов на момент записи (цены — по правилам цен велосипеда), фотографии, счётчики и `liked` вошедшего зрителя. Публичная опубликованная запись публичного велосипеда видна всем; черновик и закрытая запись — только владельцу, остальным 404, как и записи заблокированного автора.",
                "security": [
                    {
                        
                    },
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/JournalId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запись.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JournalEntry"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Одновременно cookie сессии и заголовок Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Недействительный или истёкший токен либо неподдерживаемая схема Authorization.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                }
            }
        },
        "/bikes/{id}/comments": {
            "get": {
                "operationId": "listBikeComments",
                "tags": [
                    "Comments"
                ],
                "summary": "Комментарии велосипеда",
                "description": "Корневые комментарии, старые сверху, курсор; у каждого превью из не более чем трёх первых ответов и `replyCount`. Ответы вложены на один уровень. Удалённый, скрытый или комментарий заблокированного автора виден «надгробием» (`deleted`, без текста и автора), только пока под ним есть читаемые ответы. Комментарии есть только у публичных объектов: у закрытых, черновиков и объектов заблокированных владельцев — 404, даже для владельца. `focus` возвращает ветку и цепочку для глубокой ссылки.",
                "security": [
                    {
                        
                    },
                    {
                        "cookieSession": [
                            
                        ]
                    },
                    {
                        "bearerAuth": [
                            
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/BikeId"
                    },
                    {
                        "$ref": "#/components/parameters/Limit"
                    },
                    {
                        "$ref": "#/components/parameters/Cursor"
                    },
                    {
                        "$ref": "#/components/parameters/Focus"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Страница комментариев.",
                        "headers": {
                            "X-Request-ID": {
                                "$ref": "#/components/headers/RequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentPage"
                                }
                            }
                        }
                    },
[...]
